@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'Bernoru';
    src: url('@/assets/bernoru-blackultraexpanded.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sans';
    src: url('@/assets/sans.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sanss';
    src: url('@/assets/sans2.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@keyframes opacityanimate {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.container {
    background-color: var(--background);
}

.isauth,
.containersignin,
.containersignup {
    animation: opacityanimate 1s ease forwards;
}

.loading {
    animation: opacityanimate 1s ease;
}


html,
body {
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
}

body {
    overflow: auto !important;
}

ul {
    list-style: none;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    color: var(--foreground);
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

main {
    background-color: var(--background);
}

textarea:focus,
input:focus,
button:focus {
    outline: none;
}

.swiper-button-prev,
.swiper-button-next {
    scale: 0.5;
    color: black !important;
    background-color: var(--background);
    width: 70px !important;
    height: 70px !important;
    border-radius: 100%;
    translate: 0px 100px;
    border: 1px solid var(--border-color);
}

.swiper-button-next {
    right: 30px !important;
}

.v-field.v-field--appended.v-field--center-affix.v-field--variant-solo.v-theme--light.v-locale--is-ltr {
    background-color: var(--background);
}

.swiper-button-prev {
    left: 30px !important;
}

.v-application__wrap {
    background-color: var(--background);
    max-height: auto !important;
    height: auto !important;
}

.close {
    background-color: var(--background);
    transition: all 1s ease !important;
}

:root {
    --background: #ffffff;
    --bottomsheetbgoverlay: #f2f2f7;
    --buttonbsbg: #ffffff;
    --buttonbsbgactive: #929292;
    --foreground: #171717;
    --bottomsheetbg: rgba(255, 255, 255, 0.8);
    --bg-cont: #f0f0f0;
    --cartbasket-color: #92929221;
    --bottomsheethadow: rgba(255, 255, 255, 0.5) 2px 2px 1px 0px inset, rgba(255, 255, 255, 0.5) -1px -1px 1px 1px inset;
    --graycart-color: #8f8fa5;
    --border-color: #c7c7c7;
    --blur: rgba(180, 180, 180, 0.5);
    --textfield-color: #c4c4c4;
    --logo-url: url(./logo-light.svg);
    --vsbs-max-width: 100%;
    --vsbs-border-radius: 1.8rem;
    --vsbs-backdrop-bg: rgba(0, 0, 0, 0.3);
    --vsbs-background: transparent;
}

.dynamicislandbox {
    width: 100%;
    min-height: 15px;
    display: flex;
    background-color: transparent;
    transition: all 0.5s ease;
}

.liquidGlass-effect {
    position: absolute;
    z-index: 0;
    backdrop-filter: blur(3px);
    filter: url(#glass-distortion);
    isolation: isolate;
    inset: 0px;
    overflow: hidden;
}

.liquidGlass-tint {
    z-index: 1;
    position: absolute;
    inset: 0px;
    overflow-x: hidden;
    background: var(--bottomsheetbg);
}

.liquidGlass-shine {
    position: absolute;
    z-index: 2;
    box-shadow: var(--bottomsheethadow);
    overflow: hidden;
}

.dynamicislandbox.active {
    min-height: 60px;
}

.bottom-sheet__header {
    z-index: 4;
}
.bottom-sheet__overlay {
    background: transparent !important;
}
.bottom-sheet__content {
    background: transparent !important;
    padding: 0px 16px 16px 16px;
    height: 90% !important;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 6px 6px, rgba(0, 0, 0, 0.1) 0px 0px 20px;
}

.bottom-sheet__main {
    scrollbar-width: none;
    background: transparent !important;
}
.bottom-sheet__main::-webkit-scrollbar {
    display: none;
}
body {
    background-color: var(--background);
}

.swiper-slide {
    margin-right: 1px;
}

.logo {
    background-image: var(--logo-url);
    width: 150px;
    height: 150px;
    background-color: transparent;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

::selection {
    background: #8aa9d6;
    color: white;
}

@media (max-width: 768px) {
    .swiper.cardproduct__media.active .swiper-button-prev {
        translate: 0px 150px !important;
    }

    .swiper.cardproduct__media.active .swiper-button-next {
        translate: 0px 150px !important;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #2c2c2c;
        --border-color: #181818;
        --bg-cont: #363636;
        --foreground: #ededed;
        --bottomsheetbg: rgba(0, 0, 0, 0.2);
        --bottomsheetbgoverlay: #000000;
        --buttonbsbg: #1c1c1e;
        --bottomsheethadow: rgba(0, 0, 0, 0.3) 2px 2px 1px 0px inset,
            rgba(0, 0, 0, 0.3) -1px -1px 1px 1px inset;
        --buttonbsbgactive: #2f2f31;
        --textfield-color: #ffffff;
        --cartbasket-color: #2f2f31;
        --blur: rgba(87, 87, 87, 0.5);
        --logo-url: url(./logo-dark.png);
    }
}