@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
html {
    overflow: hidden; 
  }
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    color: var(--foreground);
    outline: none;
    -webkit-tap-highlight-color: transparent;
}
main {
    background-color: var(--background);
}
textarea:focus, input:focus, button:focus {
    outline: none;
}
.swiper-button-prev, .swiper-button-next {
    scale: 0.5;
    color: black !important;
    background-color: var(--background);
    width: 70px !important;
    height: 70px !important;
    border-radius: 100%;
    translate: 0px 100px;
    border: 1px solid var(--border-color);
}
.swiper-button-next {
    right: 30px !important;
}
.swiper-button-prev {
    left: 30px !important;
}
:root {
    --background: #ffffff;
    --foreground: #171717;
    --bg-cont: #f0f0f0;
    --border-color: #c7c7c7;
    --blur: rgba(180, 180, 180, 0.5);
    --textfield-color: #c4c4c4;
    --logo-url: url(./logo-light.svg);
}
body {
    background-color: var(--background);
}
.swiper-slide {
    margin-right: 1px;
}
.logo {
    background-image: var(--logo-url);
    width: 150px;
    height: 150px;
    background-color: transparent;
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
}
::selection {
    background: #8aa9d6;
    color: white;
}
@media (max-width: 768px) {
    .swiper.cardproduct__media.active .swiper-button-prev {
        translate: 0px 150px !important;
    }

    .swiper.cardproduct__media.active .swiper-button-next {
        translate: 0px 150px !important;
    }
}
@media (prefers-color-scheme: dark) {
    :root {
      --background: #2c2c2c;
      --border-color: #181818;
      --bg-cont: #363636;
      --foreground: #ededed;
      --textfield-color: #ffffff;
      --blur: rgba(87, 87, 87, 0.5);
      --logo-url: url(./logo-dark.png);
    }
  }